body {
  font-family: "Prompt", sans-serif;
}

.about {
  font-size: 14px;
  color: rgb(206, 206, 206);
  margin-bottom: 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
}

.button {
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 12px 24px;
  text-decoration: none;
  font-weight: 700;
}

.container {
  background-image: url("https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1653&q=80");
  min-height: 100vh;
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 50px;
  }
}

.content {
  max-width: 900px;
  color: white;
}

.job {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  color: white;
}

.name {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  color: white;
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 50px;
  }
}

.contact {
  margin-bottom: 40px;
}

.contact-icon {
  margin-right: 10px;
  width: 16px;
  align-items: center;
}

.contact-item {
  margin-bottom: 2px;
  font-size: 14px;
}
